@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --backgroundColorWhite: #EEEEEE;
    --backgroundColorGray: #ccc9c9;
    --mainColor: #053B50;
    --mainColorLight: #64CCC5;
    --secondaryColor: #176B87;
    --textColorWhite: #EEEEEE;
    --textColorBlack: #30303F;
    --border: #C9C6C6;
}

.productos-card-container{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.containerProductos{
    margin: 15px;
    border-radius: 5px;
    background-color: var(--backgroundColorGray);
}

.pruductos{
    display: flex;
}

.containerProductos button{
    border:none;
    outline: 0;
    padding: 10px;
    color: var(--textColorWhite);
    background-color: var(--mainColor);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
}
.containerProductos button:hover{
    opacity: 0.7;
    background-color: var(--secondaryColor);
}

.img-productos{
    width: 100%;
}

