* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #053b50;
  --mainColorLight: #64ccc5;
  --secondaryColor: #176b87;
  --textColor: #eeeeee;
}

header {
  display: flex;
  position: fixed;
  z-index: 1000;
  min-width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 1rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

nav a {
  margin: 0 0.2rem;
  color: var(--textColor);
  text-decoration: none;
  align-items: center;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

/* Styles from SearchAppBar component */
header .MuiInputBase-input {
  color: inherit;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  transition: width 300ms;
}

header .MuiInputBase-input:focus {
  width: 20ch;
}

@media only screen and (max-width: 768px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive-nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}